apiVersion: v1
baseDomain: BASE_DOMAIN
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 1
metadata:
  creationTimestamp: null
  name: CLUSTER_NAME
networking:
  clusterNetwork:
CLUSTER_NETWORKS_YAML
  machineNetwork:
MACHINE_NETWORKS_YAML
  networkType: OVNKubernetes
  serviceNetwork:
SERVICE_NETWORKS_YAML
platform:
  none: {}
BootstrapInPlace:
  InstallationDisk: INSTALLATION_DISK
publish: External
pullSecret: |
        YOUR_PULL_SECRET
sshKey: |
        YOUR_SSH_KEY

